.help-block {
    color: #ff0000;
}


.table tr th a,  .table tr{
    color: #00bcd4;
}

tbody tr td {
    color: #000;
}

.sidebar .nav p {
    font-size: 12px;
}

.sidebar .logo a.logo-normal {
    font-size: 13px !important;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: none;
}

.table thead tr th {
    font-size: 0.85rem;
    background: #1cbbd0;
    color: #fff;
    font-weight: bold;
}

a {
    color: #343a40;
}

.input-group-append button {
    height: 30px;
}

.select2-container--krajee .select2-selection__clear {
    top: 0;
}

.fade.in{
    opacity: 1 ;
}

@media (min-width: 993px) {
    .sidebar, .sidebar-wrapper {
        width: 220px !important;
    }

        .main-panel {
            position: relative;
            float: right;
            width: calc(100% - 220px);
            transition: .33s,cubic-bezier(.685,.0473,.346,1);
        }
}
form .form-group select.form-control {
    position: inherit;
}

.sidebar .nav p {
    text-transform: initial;
}

.table th,.table td {
    font-size: 13px;
}

/***PAGINATION***/

.pagination {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.pagination li.active a{
    border-color: #00bcd4;
    color: #fff;
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
}


.pagination li a,.pagination li span {
    border-radius: .25rem;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #00bcd4;
    text-decoration: none;
    /* background-color: #fff;
    border: 1px solid #00bcd4; */

}


.table tr th a, .table tr {
    color: #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}